body{
    background: #000;

}
.heading{
    color: tomato;
    font-size: 75px;
    text-align: center;
    border-radius: 10px #ccc;
    border-color: white;
    padding: 125px;
    top: 40%;
    left: 40%;


}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-15%) translate(-40%);
    color: white;
    font-size: 85px;
    border: 1px solid #ccc;
    padding: 10px 5px 0px 5px;
    text-align: center;

}
h2{
    font-size: 20px;
    color: white;

}